@layer utilities {

    /*PRODUCTS*/
    .bg-products-night {
        position: relative;
        min-height: 100vh;
    }
    .bg-products-night::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.35)), url('/CloudsNight.png') repeat left bottom;
        z-index: -1;
    }

    /*HOME PAGE*/
    .bg-home-night {
        position: relative;
        min-height: 100vh;
    }
    .bg-home-night::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.35)), url('/HomePageNight.png') no-repeat left bottom / cover;
        z-index: -1;
    }

    /*ABOUT PAGE */
    .bg-about-night {
        position: relative;
        min-height: 100vh;
    }
    .bg-about-night::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.35)), url('/HomePageNightFlipped.png') no-repeat right bottom / cover;
        z-index: -1;
    }

    /*ORDERS*/
    .bg-orders-night {
        position: relative;
        min-height: 100vh;
    }
    .bg-orders-night::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.35)), url('/CloudsNight.png') repeat left bottom;
        z-index: -1;
    }

    /*LOGIN*/
    .bg-login-night {
        position: relative;
        min-height: 100vh;
    }
    .bg-login-night::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.35)), url('/CloudsNight.png') repeat left bottom;
        z-index: -1;
    }

}

body {
    font-family: 'Inter', sans-serif;
    background-color: #020209;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overscroll-behavior: contain;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}